{% extends "base.html" %}

{% block content %}
<div class="form-wrapper">
    <h2>予算登録</h2>
    <form method="post" action="{% url 'sample:budget_create' %}" class="form-container" novalidate>
        {% csrf_token %}
        <input type="hidden" name="favorite_id" value="{{ favorite_id }}">
        
        <div>
            <label for="{{ form.month.id_for_label }}">月:</label>
            {{ form.month }}
            {% if form.month.errors %}
                <div class="error-message">
                    {% for error in form.month.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div>
            <label for="{{ form.budget.id_for_label }}">予算:</label>
            {{ form.budget }}
            {% if form.budget.errors %}
                <div class="error-message">
                    {% for error in form.budget.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <button type="submit" class="btn btn-primary">登録</button>
    </form>

    <a href="{% url 'sample:item_list_with_favorite' favorite_id=favorite_id %}" class="cancel-link">←戻る</a>
</div>
{% endblock %}
