{% extends "base.html" %}

{% block content %}
<div class="form-wrapper">
    <h1>推し編集</h1>

    <!-- お気に入り編集フォーム -->
    <form method="post" class="form-container" novalidate>
        {% csrf_token %}

        <div>
            <label for="{{ form.name.id_for_label }}">推しの名前:</label>
            {{ form.name }}
            {% if form.name.errors %}
                <div class="error-message">
                    {% for error in form.name.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <button type="submit">保存</button>
    </form>

    <!-- キャンセルボタン (home.htmlに遷移) -->
    <a href="{% url 'sample:home' %}" class="cancel-link">←戻る</a>
</div>
{% endblock %}
