{% extends "base.html" %}

{% block content %}
<div class="form-wrapper">
    <h2>アイテム編集</h2>
    <form method="post" class="form-container">
        {% csrf_token %}
        <div>
            <label for="{{ form.name.id_for_label }}">アイテム名</label>
            {{ form.name }}
            {% for error in form.name.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div>
            <label for="{{ form.price.id_for_label }}">価格</label>
            <input type="number" id="{{ form.price.id_for_label }}" name="{{ form.price.name }}" value="{{ form.price.value|floatformat:0 }}" class="form-control">
            {% for error in form.price.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div>
            <label for="{{ form.release_date.id_for_label }}">リリース日</label>
            {{ form.release_date }}
            {% for error in form.release_date.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <div>
            <label for="{{ form.category_name.id_for_label }}">カテゴリー:</label>
            <input type="text" id="{{ form.category_name.id_for_label }}" name="category_name" value="{{ form.category_name.value|default_if_none:'' }}" class="form-control">
            {% for error in form.category_name.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">更新</button>
    </form>

    <a href="{% url 'sample:item_list_with_favorite' favorite_id=favorite.id %}" class="cancel-link">←戻る</a>
</div>
{% endblock %}
