{% extends "base.html" %}

{% block content %}

<div class="form-wrapper">

    <h1>アイテム登録</h1>
    <form method="post" action="{% url 'sample:item_create' favorite_id=favorite_id %}" class="form-container">
        {% csrf_token %}
        <!-- 全体のエラーメッセージ -->
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div>
            <label for="{{ form.name.id_for_label }}">アイテム名:</label>
            {{ form.name }}
            {% for error in form.name.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            <label for="{{ form.price.id_for_label }}">価格:</label>
            {{ form.price }}
            {% for error in form.price.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            <label for="{{ form.release_date.id_for_label }}">リリース日:</label>
            {{ form.release_date }}
            {% for error in form.release_date.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            <label for="{{ form.category_name.id_for_label }}">カテゴリー:</label>
            <input type="text" id="{{ form.category_name.id_for_label }}" name="category_name" value="{{ form.category_name.value|default_if_none:'' }}" class="form-control">
            {% for error in form.category_name.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <button type="submit">登録</button>
    </form>
    <!-- 一覧ページへ戻るリンク -->
    <a href="{% url 'sample:item_list_with_favorite' favorite_id=favorite_id %}" class="cancel-link">←戻る</a>
</div>
{% endblock %}
