{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>パスワードリセット</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="form-wrapper">
        <h1>パスワードリセット</h1>
        <form method="post" class="form-container password-reset-form" action="{% url 'sample:password_reset' %}">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">メールアドレス:</label>
                {{ form.email }}
                {% for error in form.email.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="{{ form.new_password.id_for_label }}">新しいパスワード:</label>
                {{ form.new_password }}
                {% for error in form.new_password.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group">
                <label for="{{ form.confirm_password.id_for_label }}">新しいパスワード（確認用）:</label>
                {{ form.confirm_password }}
                {% for error in form.confirm_password.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary">リセット</button>
        </form>

        <p class="login-text">既にアカウントをお持ちの方は<a href="{% url 'sample:login' %}">こちら</a>からログインしてください。</p>
    </div>
</body>
</html>
